@use "variables" as *;

@mixin font-roboto {
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin button-style {
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $white;
  border-radius: 5rem;
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0;
  box-shadow: 0rem 0.1rem 0.1rem 0.1rem $btn-box;
  background: linear-gradient(-11deg, $primary 26%, $secondary 100%);
  text-align: center;

  &:hover {
    transition: all 80ms ease-in;
    filter: brightness(1.07);
    box-shadow: $btn-box 0.3rem 0.3rem 0.3rem 0.3rem;
  }
}

@mixin heart-icon-style {
  font-size: 1.3rem;
  width: 21px;
  height: 20px;
  margin-right: 20px;

  .fa-heart {
    position: absolute;
    opacity: 1;
    background: $heart-like;
    background: $heart-background;
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .fas {
    color: transparent;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:not(:checked)~.fas.fa-heart {
    display: none;
  }

  input[type="checkbox"]:checked~.far.fa-heart {
    display: none;
  }

  input[type="checkbox"]:checked~.fas.fa-heart {
    display: block;
  }
}